/*_________   _________*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/*_________  custom property _________*/
:root {
    /*typography*/
    --font-lora: 'Lora', serif;
    --font-ubuntu: 'Ubuntu', sans-serif;

    /*colors*/
    --bg-body:#fcfcfc;
    --bright-color:#313943;
    --rodeo-color:#C7B19A;
    --fountain-color:#55C2B1;
    --wild-color:#727EAB;
    --amber-color:#FDB750;
    --orange-color:#FC2E20;
    --white-color:#FAFCF6;
    --black-color:#040000;

    /*transition*/
    --transition-01:all .4s ease;
    --transition-02: .5s ease-out;


}

/*_________  reset _________*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    font-family: var(--font-ubuntu);
    line-height: 1.5;
    font-size: 10px;
    background-color: var(--bg-body);
}

::-webkit-scrollbar { width: 10px; height: 30px; }

::-webkit-scrollbar-track { background-color: var(--bright-color) }

::-webkit-scrollbar-thumb { background-color: var(--orange-color); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*_________ classe reused   _________*/
.cover{
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.btn{
    padding: 12px 30px;
    width: max-content;
    border-radius: 0;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    color: var(--bg-body);
    transition: var(--transition-02);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn:hover{
    color: var(--orange-color);
    background-color: transparent;
    border: 1px solid var(--orange-color);
}
/*_________  header  _________*/
.header{
    background-color: transparent;
   
}
.navbar{
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
/*quando rolar a página*/
.navbar.scrolled {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--bg-body);
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 4px;
}

.navbar .nav-item{
    margin-left: 20px;
}
.navbar .nav-item .nav-link{
    font-size: 20px;
    font-weight: 500;
    color: var(--bright-color);
    transition: var(--transition-01);
    text-transform: capitalize;
}
.navbar .nav-item .nav-link:hover{
    color: var(--orange-color);
}
.navbar-brand span{
    font-size: 32px;
    font-weight: 600;

    color: var(---color);
}
.navbar-brand i{
    font-size: 2rem;
    margin-left: 6px;
}
.media-social i{
    padding-left: 15px;
    font-size: 24px;
    color: var(--black-color);
    cursor: pointer;
    transition: var(--transition-02);
}
.media-social i:hover{
    transform: scale(1.2);
}
.media-social .fa-moon{
    color: var(--black-color);
}

/*_________   _________*/
.hero h1{
    font-size: 3.4rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
.hero h1 span{
    color: var(--fountain-color);
}
.hero p{
    padding-top: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: justify;
    font-family: var(--font-lora);
}
/*-------------------*/

/*_________ featured  _________*/
.featured{
    background-color: var(--bg-color);  
}
.featured h1{
    color: var(--bright-color);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}
.area{
    background-color: var(--bg-body);
    padding: 1px;
}
.area h3{
    text-align: center;
    margin-bottom: 40px;
}

.list-group-item{
    font-size: 18px;
    transition: var(--transition-02);   
}
.list-group-item  i{
    font-size: 1.3rem;
    color: var(--orange-color);
}

/*_________ about _________*/
.about{
    background-color: var(--bright-color);
    min-height: 70vh;
}
.about-box{
    padding: 20px;
    padding-bottom: 50px;
}
.about-box-2{
    background-image: url('../images/img-05.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}
.about h1{
    text-align: center;
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--bg-body);
}
.about h4{
    text-align: justify;
    font-family: var(--font-lora);
    color: var(--bg-body);
    line-height: 1.6;
    font-weight: 200;
    font-size: 20px;
    padding-top: 20px;
}
.about span{
    color: var(--amber-color);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-ubuntu);
}
/*_________   _________*/


/*_________ media queries  _________*/

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

    .header{
        background-color: var(--white-color);
    }
    .navbar{
      
        background-color: var(--white-color);
    }
    .navbar .nav-item {
        padding-bottom: 15px;
    }
    .hero{
        padding: 50px 20px 10px 20px;
        flex-direction: row-reverse;
    }
    .hero h1{
        font-size: 35px;
        text-transform: none;
        text-align: center;
        margin-top: 120px;
    }
    .hero .btn{
        margin-bottom: 30px;
    }
    .featured h1{
        font-size: 25px;
        padding-bottom: 30px;
    }
    .area h3{
        font-size: 20px;
        padding-top: 40px;
    }
    .list-group-item{
        font-size: 16px;
        transition: var(--transition-02);
    }
    .list-group-item-action:hover{
        font-size: 16px;
        color: var(--white-color);
        transition: var(--transition-02);
        background-color: var(--bright-color);
    }
    .list-group-item  i{
        font-size: 1rem;
        color: var(--orange-color);
    }
    .list-group-item  i:hover{
        font-size: 1rem;
        color: var(--white-color);
    }
   
 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .cover{
        align-items: center;
        justify-content: space-around;
        min-height: 60vh;
    }

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {  }